@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
  @tailwind base;
@tailwind components;
@tailwind utilities;

.input-container {
  @apply lg:flex gap-4 items-center justify-items-center;
}
.input-form {
  @apply form-control flex-1;
}
::selection {
  color: #bb7549;
  font-weight: 700;
}
.input-field {
  @apply input border-gray-200 bg-gray-100/50 focus:bg-white focus:outline-none border-2 focus:border-main;
}
.select-input {
  @apply select border-gray-200 bg-gray-100/50 font-bold focus:outline-none focus:border-main rounded-lg join-item;
}

body {
  font-family: "Roboto", sans-serif;
}

.active {
  color: white !important;
  background-color: #bc8664 !important;
  font-weight: 600;
  border-radius: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
