@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-container {
  @apply lg:flex gap-4 items-center justify-items-center;
}
.input-form {
  @apply form-control flex-1;
}

.input-field {
  @apply input input-bordered bg-white border-dashed focus:outline-none border-main focus:border-main;
}
.select-input {
  @apply select select-bordered  font-bold focus:border-main rounded-lg  join-item;
}


body {
  font-family: "Montserrat", sans-serif;
}

.active {
  color: white !important;
  background-color: #bc8664 !important;
  font-weight: 600;
  border-radius: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
