@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-container {
  @apply lg:flex gap-4 items-center justify-items-center;
}
.input-form {
  @apply form-control flex-1;
}

.input-field {
  @apply input border-gray-200 bg-gray-100/50 focus:bg-white focus:outline-none border-2 focus:border-main;
}
.select-input {
  @apply select border-gray-200 bg-gray-100/50 font-bold focus:outline-none focus:border-main rounded-full  join-item;
}

body {
  font-family: "Montserrat", sans-serif;
}

.active {
  color: white !important;
  background-color: #bc8664 !important;
  font-weight: 600;
  border-radius: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
